.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #000 0%, transparent 100%);
  padding: 16px 0px;
  transition: all 0.6s ease;
  z-index: 999;
}

.header.active {
  background: rgba(0, 0, 0, 1);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 44px;
}

.logoDesktop {
  width: 100px;
  height: 30px;
}

.logoMobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
    width: 25px;
  }
}
