*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  background: #141414;
  color: #f3f3f3;
  overflow-x: hidden;
}
img {
  display: block;
}
button {
  border: none;
}
button:disabled {
  opacity: 0.4;
  cursor: initial;
}
.containerMovies {
  padding-left: 50px;
}
.container {
  padding: 0 50px;
}
.voteAvarege {
  color: #009c4c;
  font-weight: bold;
}
.numberOfSeasons {
  font-weight: bold;
  opacity: 0.8;
}
.modalAnimation {
  transform: scale(0.5);
  opacity: 0;
  animation: modalAnimation 0.3s alternate forwards;
  transition: all 0.3;
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
@keyframes modalAnimation {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0 14px;
  }
  .containerMovies {
    padding-left: 14px;
  }
  .modalAnimation {
    transform: translate3d(0, 500px, 0);
    opacity: 0;
    animation: modalAnimation 0.3s alternate forwards;
    transition: all 0.3 ease-in-out;
  }
  @keyframes modalAnimation {
    to {
      transform: initial;
      opacity: 1;
    }
  }
}
